$topnav-background-color: #222;
:host {
    .navbar {
        background-color: $topnav-background-color;

        .navbar-brand {
            color: #fff;
        }

        .nav-item > a {
            color: #999;

            &:hover {
                color: #fff;
            }
        }
    }

    .messages {
        width: 300px;

        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;

            &:last-child {
                border-bottom: none;
            }
        }

        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }

            .small {
                margin: 0;
            }

            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

.text-size {
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}

.mic-color {
    color: #00ff00;
}

// .addMore {
//     border: none;
//     width: 32px;
//     height: 32px;
//     background-color: #eee;
//     transition: all ease-in-out 0.2s;
//     cursor: pointer;
// }
// .addMore:hover {
//     border: 1px solid #888;
//     background-color: #ddd;
// }

.cart-size {
    width: 50%;
    height: 50%;
}
.form-control-inline {
    min-width: 100px;
    width: 100%;
}
