<nav
    class="navbar navbar-expand-lg navbar-expand-xl fixed-top navbar-collapse collapse dual-collapse2 justify-content-center"
>
    <div class="nav-fill nav-item nav-justified">
        <div class="navbar nav">
            <a class="container navbar-brand" href="#">RxeMed </a>
        </div>
        <div class="navbar-nav nav">
            <button (click)="toggleSidebar()" class="navbar-toggler" type="button">
                <i aria-hidden="true" class="fa fa-bars text-muted"></i>
            </button>
        </div>
    </div>

    <div class="mx-auto order-0 nav-item nav-fill nav-justified">
        <form class="form-inline col-sm-12" (submit)="searchSubmit($event)">
            <div class="form-group ml-auto mr-auto ml-2">
                <input
                    class="form-control form-control-inline mr-sm-2"
                    placeholder="{{ 'Search' | translate }}"
                    type="text"
                />
            </div>
            <div>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="navbar-nav nav-item nav-fill nav-justified">
        <button class="btn my-2 bg-transparent text-success">
            <span class="addMore" title="click on the mic button to speak"><i class="fa fa-fw fa-microphone"></i></span>
        </button>
    </div>
    <div class="navbar-nav nav-item nav-justified nav-fill">
        <ul class="navbar-nav">
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa fa-fw cart-size fa-cart-arrow-down"></i><b class="caret text-primary"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-cart-plus"></i> {{ 'M+ store cart' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-shopping-cart"></i> {{ 'Rx-path cart' | translate }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
